@import url(https://fonts.googleapis.com/css?family=Inconsolata|Inter&display=swap);
body{
    margin:40px auto;
    max-width:900px;
    line-height:1.6;
    font-size:16px;
    color:#000;
    padding-left:200px;
    font-family:Inter,sans-serif}

h1,h2,h3{
    line-height:1.2;
    font-family:Inter,sans-serif
}

img {
    max-width:750px;
    border-radius:5px;
}

.cvimg {
    max-width:750px;
    border-radius:5px;
    padding-left: 200px;
}


pre{
    font-family:Inconsolata,monospace
}
::selection{
    color:#fff;background:#000
}

.column {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.row {
  flex: 50%;
  padding: 0 4px;
}

figure {
    display: inline-block;
}


.row * img {
  margin-top: 8px;
  vertical-align: middle;
}
